[submodule "src/zed-ros2-wrapper"]
    path = src/zed-ros2-wrapper
    url = https://github.com/stereolabs/zed-ros2-wrapper.git
    branch = foxy-humble-v3.8.2

[submodule "src/mavros"]
    path = src/mavros
    url = https://github.com/mavlink/mavros-release.git
    branch = release/foxy/mavros/2.4.0-1

[submodule "src/mavlink"]
    path = src/mavlink
    url = https://github.com/mavlink/mavlink-gbp-release.git
    branch = release/foxy/mavlink/2022.12.30-1
